.searchScreen {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(236, 32, 9, 0.5) 0%,
    rgba(0, 0, 0, 0) 80%,
    rgba(0, 0, 0, 0.8) 100%
  );
  padding: 60px 40px;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.search__bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  border-radius: 10px;
  border: 2px solid rgba(248, 202, 20, 0.8);
  overflow: hidden;
}

.search__bar > input {
  color: #706a6a;
  padding: 8px;
  width: 300px;
  outline: none;
  border: none;
}

.button {
  padding: 0 15px;
  color: #000;
  font-weight: 500;
  font-size: 16px;
  background-color: rgba(251, 36, 16, 0.6);
  border: none;
  outline: none;
  align-self: stretch;
  cursor: pointer;
}

.search__active {
  background-color: rgba(248, 202, 20, 1);
  text-decoration: underline;
}

.search__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex: 1;
}

.searchScreen__contents {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

@media (max-width: 1400px) {
  .searchScreen {
    padding: 60px 0;
  }
}

@media (max-width: 1000px) {
  .slick-slide {
    padding: 0 4px !important;
  }
}

@media (max-width: 800px) {
  .search__bar > input {
    width: 200px;
  }
}

@media (max-width: 600px) {
  /* .pages {
    width: 30%;
  } */

  .search__bar > input {
    width: 150px;
  }

  .button {
    padding: 0 10px;
    font-size: 14px;
  }
}
